# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "YOURCLIENT_ID"
name = "BTCPay Server APPNAME"
handle = "btcpay-server-APPNAME"
application_url = "https://YOUR_HOSTED_APP_URL.COM/shopifyapp/"
embedded = true

[build]
automatically_update_urls_on_dev = false
dev_store_url = "YOURDEV_STORE.myshopify.com"
include_config_on_deploy = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_orders"

[auth]
redirect_urls = [
  "https://YOUR_HOSTED_APP_URL.COM/shopifyapp/auth/callback",
  "https://YOUR_HOSTED_APP_URL.COM/shopifyapp/auth/shopify/callback",
  "https://YOUR_HOSTED_APP_URL.COM/shopifyapp/api/auth/callback"
]

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  uri = "/shopifyapp/webhooks/customers/data_request"
  compliance_topics = [ "customers/data_request" ]

  [[webhooks.subscriptions]]
  uri = "/shopifyapp/webhooks/customers/redact"
  compliance_topics = [ "customers/redact" ]

  [[webhooks.subscriptions]]
  uri = "/shopifyapp/webhooks/shop/redact"
  compliance_topics = [ "shop/redact" ]

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/shopifyapp/webhooks/app/uninstalled"

[pos]
embedded = false
